@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* global variables */
:root {
    --darkgreen: #002500;
    --desertsand: #EDCBB1;
    --paynegrey: #577590;
    --raisen-black: #212738;
    --vivid-skyblue: #57C4E5;
    --chinese-violet: #685F74;
    --darkviolet: #210124;
    --silver: #BFC0C0;
    --lavender: #D8E1FF;
}


.all-movies {
    box-sizing: border-box;
    height: fit-content;
    width: 99vw;
    background:rgb(2, 2, 54);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0.5rem;

}

.all-movies .single-movie {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 59, 124);
    box-sizing: border-box;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    position: relative;
    font-size: medium;

}

.all-movies .likebutton {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border: 0.1rem solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: var(--darkgreen);
    font-weight: 600;
    top: 4px;
    right: 8px;
    background: var(--silver);
}

.likebutton:hover {
    background-color:rgba(3, 3, 58, 0.496);
    color: crimson;
}

.likebutton:active {
    color: indigo;
}