
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* global variables */
:root{
    --darkgreen:#002500;
    --desertsand:#EDCBB1;
    --paynegrey:#577590;
    --raisen-black:#212738;
    --vivid-skyblue:#57C4E5;
    --chinese-violet:#685F74;
    --darkviolet:#210124;
    --silver:#BFC0C0;
    --lavender:#D8E1FF;
}

/* overallpage */
.Wholepage{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 92vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 2, 54);
    overflow-y: hidden;
}

/* overall container */
.Login-container {
    background:var(--darkgreen);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main container */
.Login-container .login-main-container {
    height: 50vh;
    width: 55vh;
    display: flex;
    flex-direction: column;
    background:var(--lavender);
    border: 1px solid black;
    border-radius: 1rem;
    gap: 1rem;
    padding: min(1rem, 5%);
}
/*  login-header */
.login-main-container .login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background:var(--vivid-skyblue);
    border-radius: 0.5rem;
}



.login-header #login-header {
    font-size: 2rem;
    font-style: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#login-header:hover{
    color:var(--raisen-black);
}

/* login-inputfeilds */
.login-main-container .login-email{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height:3rem;
    position:relative;

}
.login-email label{
    position:absolute;
    left:0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: transparent;
    transition: all 0.2s linear; 
    
}
.login-email input{
    height:2.5rem;
    width:100%;
    margin:0 0.2rem;
    font-size: larger;
    font-weight: 400;
    border:2px solid black;
    padding:0.5rem;
    background: var(--lavender);
}


.login-email input:focus + label,
.login-email input:not(:placeholder-shown)+label{
    top:-0.4rem;
    left:0.5rem;
    color:var(--darkgreen);
    font-weight: 500;
    padding:0 0.2rem;
    background: var(--lavender);
    
}

/* password input styling */

.login-main-container .login-password{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height:3rem;
    position:relative;
}

.login-password label{
     position:absolute;
    left:0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: transparent;
    transition: all 0.5s linear; 
}

.login-password input{
     height:2.5rem;
    width:100%;
    margin:0 0.2rem;
    font-size: larger;
    font-weight: 400;
    border:2px solid black;
    padding:0.5rem;
    background: var(--lavender);
}

.login-password input:focus + label,
.login-password input:not(:placeholder-shown)+label {
    top:-0.4rem;
    left:0.5rem;
    color:var(--darkgreen);
    font-weight: 500;
    padding:0 0.2rem;
    background: var(--lavender); 
}

/* forgot password msg */

.login-main-container .login-forgotpass{
    height:2rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:0.3rem;
}

.login-forgotpass #forgotpass{
    color:blue;
    cursor:pointer;
}
#forgotpass span{
    color:black;
}

.login-forgotpass .new-register{
    font-size: medium;
    cursor:pointer;
    color:black;
    text-decoration: none;
}

.login-main-container .login-button{
    height:4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border:1px solid var(--lavender);
    border-radius: 1rem;
}

.login-button button{
    height:100%;
    width:100%;
    font-size: 2rem;
    font-style: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    background: var(--chinese-violet);
    border:1px solid var(--lavender);
    border-radius: 1rem;

    
}

.login-button button:hover{
    background: #a4b3e2;

}



